* {
  scroll-behavior: smooth;
}

/* Nav items animations */
.nav-items li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ff8c00;
  transition: width 0.3s;
}

.nav-items a:hover::after {
  width: 100%;
}

.nav-items a:hover {
  color: #ff8c00;
  transition: ease 0.3s;
}

/* Hero section animations */

.slide.active {
  animation: scaleAnimation 4s ease-in-out forwards;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hero-carousel .prev:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-carousel .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Services section */
#services-section .swiper-slide > div:hover img {
  transform: scale(1.1);
}

#services-section .swiper-button-prev:hover {
  background-color: #ff8c00;
  color: #fff;
}

#services-section .swiper-button-next:hover {
  background-color: #ff8c00;
  color: #fff;
}

/* social icons */

.social-fb:hover,
.social-lin:hover,
.social-ig:hover,
.social-yt:hover,
.social-wp:hover {
  color: #fff;
}

.social-fb:hover {
  background: #316ff6;
}
.social-lin:hover {
  background: #0a66c2;
}
.social-ig:hover {
  background: #cd486b;
}
.social-yt:hover {
  background: #cd201f;
}
.social-wp:hover {
  background: #128c7e;
}
