/* general styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header section */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  transition: top 0.3s ease-in-out;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  gap: 10px;
}

.nav-items {
  max-width: 500px;
  display: block;
  width: 100%;
}

.nav-items ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.call-us {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.call-us a {
  color: #ff8c00;
}

.fa-phone {
  padding: 10px;
  color: #fff;
  background-color: #ff8c00;
  border-radius: 100%;
}

/* Hero Section */
#hero-section {
  min-height: 768px;
  height: 100vh;
  overflow: hidden;
}

.hero-carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-carousel .hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
}

.hero-carousel .hero-title > h1::after {
  content: "";
  width: 100px;
  height: 5px;
  background: #fff;
  display: block;
  margin: 20px auto;
}

.hero-carousel .hero-title h2 {
  font-size: 20px;
}

.hero-carousel .prev {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 5px 8px;
  font-size: 25px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.hero-carousel .next {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 5px 8px;
  font-size: 25px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.hero-carousel > ul {
  padding: 0;
  margin: 0;
}

.slide {
  position: absolute;
  z-index: -1;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.slide.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0s;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.7);
}

/* Booking Section */
#booking-section form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px 40px;
  background-color: rgb(255, 140, 0, 0.5);
  margin: -52px auto 60px;
  max-width: 1024px;
  position: relative;
  z-index: 100;
}

.check-in-container,
.check-out-container,
.contact-container {
  max-width: 200px;
  width: 100%;
}

.check-in-container label,
.check-out-container label,
.contact-container label {
  display: block;
  color: #fff;
  font-weight: 500;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.check-in-container input,
.check-out-container input,
.contact-container input {
  width: 100%;
  font-size: 18px;
  border: none;
  padding: 5px 10px;
  outline: none;
}

.book-now-btn {
  width: 100px;
  height: 58px;
}

.book-now-btn > button {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: #8d6f42;
  color: #fff;
}

/* About Section */
#about-section {
  text-align: center;
  position: relative;
  z-index: 100;
  background-color: #fff;
}

#about-section .right-bg {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(180deg);
  width: 200px;
}

#about-section h2 {
  color: #ff8c00;
  margin: 0 0 40px;
  padding: 80px 0 0;
  font-family: "Cinzel Decorative", serif;
  font-size: 40px;
}

#about-section h2 span {
  display: block;
}

#about-section .swiper {
  width: 100%;
}

#about-section .swiper-slide {
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#about-section .swiper-slide > img {
  width: 80%;
  height: 90%;
  object-fit: cover;
  box-shadow: 4px -1px 20px -6px #737373;
}

#about-section .swiper-slide > h3 {
  font-family: "Cinzel Decorative", serif;
  font-size: 30px;
  color: #ff8c00;
}

.about-desc {
  text-align: center;
  padding: 80px 0;
  position: relative;
}

.about-desc .left-desc-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
  width: 200px;
}

.about-desc .right-desc-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
}

.about-desc h3 {
  font-family: "Cinzel Decorative", serif;
  font-size: 30px;
  color: #ff8c00;
  margin: 0 0 30px;
}

.about-desc h3 span {
  margin: 0 0 0 1px;
}

.about-desc .new-line {
  display: block;
}

.about-desc p {
  font-size: 18px;
  width: 65%;
  margin: 0 auto;
}

/* Services section */
#services-section {
  background: url(../images/services-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backdrop {
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.5) blur(1px);
  padding: 50px 0;
  position: relative;
}

#services-section .swiper {
  width: 100%;
  padding: 20px 0;
}

#services-section .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#services-section .swiper-slide > div {
  display: block;
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 100%;
  border: solid #fff 10px;
  overflow: hidden;
}

#services-section .swiper-slide > div > img {
  width: 100%;
  border-radius: 100%;
  transition: transform 0.3s ease-in-out;
}

#services-section .swiper-slide p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}

#services-section .swiper-button-prev {
  position: absolute;
  left: 20px;
  top: 50%;
  color: #000;
  background-color: #fff;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}

#services-section .swiper-button-prev::after {
  font-size: 20px;
  font-weight: 900;
}

#services-section .swiper-button-next {
  position: absolute;
  right: 20px;
  top: 50%;
  color: #000;
  background-color: #fff;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}

#services-section .swiper-button-next::after {
  font-size: 20px;
  font-weight: 900;
}
/* Cottage Section */

#cottages-section {
  background: url(../images/cottage-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 60px 0;
  height: 100vh;
  position: relative;
  border-bottom: solid 2px #ff8c00;
  min-width: 768;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cottages-section > img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;
}

#cottages-section h2 {
  font-family: "Cinzel Decorative", serif;
  font-size: 30px;
  color: #ff8c00;
  margin: 0 0 40px;
}

#cottages-section .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 40px;
}

#cottages-section .flex-container div {
  width: 250px;
  height: 250px;
  background-color: #ff8c00;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cottages-section .flex-container div > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* videos section */
#videos-section {
  text-align: center;
  padding: 80px 0 0;
}

#videos-section h2 {
  font-family: "Cinzel Decorative", serif;
  font-size: 30px;
  color: #ff8c00;
  margin: 0 0 20px;
}

#videos-section h3 {
  font-size: 20px;
  color: #ff8c00;
  margin: 0 0 60px;
}

#videos-section .videos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.videos .flex-left {
  width: 42%;
  border: solid 2px #ff8c00;
  padding: 20px 0;
  border-radius: 10px;
  background-color: #fff;
}

.videos .flex-left iframe {
  position: relative;
  left: -30px;
}

.videos .flex-right {
  width: 42%;
  border: solid 2px #ff8c00;
  padding: 20px 0;
  border-radius: 10px;
  background-color: #fff;
}

.videos .flex-right iframe {
  position: relative;
  left: -30px;
}

.videos iframe {
  max-width: 500px;
  width: 100%;
}

#videos-section .line-through {
  background-color: #ff8c00;
  height: 2px;
  width: 100%;
  position: relative;
  bottom: 50px;
  z-index: -100;
}

/* Contact-us section */
#contactus-section {
  text-align: center;
  padding: 80px 0 0;
  height: 100vh;
  min-width: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactus-section .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

#contactus-section .flex-container .left .contact-img {
  width: 500px;
  height: 550px;
  object-fit: cover;
  border-radius: 600px 600px 0 0;
  box-shadow: 2px -5px 20px 0px #808080;
}

#contactus-section .flex-container .right {
  max-width: 550px;
  width: 100%;
  text-align: left;
}

#contactus-section .flex-container .right h2 {
  font-family: "Cinzel Decorative", serif;
  color: #ff8c00;
  font-size: 30px;
  margin: 0 0 20px;
  text-align: center;
}

#contactus-section .flex-container .right input {
  font-size: 14px;
  margin: 0 0 20px;
  border-radius: 20px;
  border: none;
  background-color: #dedbdb;
  padding: 10px 15px;
  outline: none;
  width: 100%;
}

#contactus-section .flex-container .right label {
  display: block;
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: 500;
}

#contactus-section .flex-container .right .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.name .first-name {
  width: 45%;
}

.name .last-name {
  width: 45%;
}

#contactus-section .flex-container .right .dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.dates .check-in-date {
  width: 45%;
}

.dates .check-out-date {
  width: 45%;
}

#contactus-section .flex-container .right .submit {
  text-align: center;
}

#contactus-section .flex-container .right input[type="submit"] {
  max-width: 200px;
  background-color: #ff8c00;
  color: #fff;
  font-weight: 500;
}

.error {
  border: 1px solid red;
}

/* social icons */
.socialicons {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10000;
}

.socialicons a {
  display: block;
  font-size: 25px;
  width: 35px;
  height: 30px;
  background: rgb(255, 140, 0, 0.7);
  text-align: center;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.top-btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 10000;
  width: 41px;
  background: rgb(255, 140, 0, 0.7);
  border-radius: 100%;
  text-align: center;
  transition: all 0.3 ease-in-out;
}

.top-btn:hover {
  background: rgb(255, 140, 0);
}

.top-btn a {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}

.rotated {
  transform: rotate(180deg);
}
